<configuration debug="false">

<appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./logs/main.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/main%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder><!-- 必须指定，否则不会往文件输出内容 -->
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
    <append>false</append>
    <prudent>false</prudent>
</appender>

  <root level="debug">
    <appender-ref ref="rollingAppender" />
  </root>
</configuration>